{% extends 'base.html.twig' %}

{% block title %}Announce index{% endblock %}

{% block body %}
    <h1>Announce index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>BedroomNumber</th>
                <th>PriceByNight</th>
                <th>Disponibility</th>
                <th>Address</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for announce in announces %}
            <tr>
                <td>{{ announce.id }}</td>
                <td>{{ announce.name }}</td>
                <td>{{ announce.description }}</td>
                <td>{{ announce.bedroomNumber }}</td>
                <td>{{ announce.priceByNight }}</td>
                <td>{{ announce.disponibility ? announce.disponibility|date('Y-m-d') : '' }}</td>
                <td>{{ announce.address }}</td>
                <td>
                    <a href="{{ path('app_announce_show', {'id': announce.id}) }}">show</a>
                    <a href="{{ path('app_announce_edit', {'id': announce.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_announce_new') }}">Create new</a>
{% endblock %}
