{% extends 'base.html.twig' %}

{% block title %}Announce{% endblock %}

{% block body %}
    <h1>Announce</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ announce.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ announce.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ announce.description }}</td>
            </tr>
            <tr>
                <th>BedroomNumber</th>
                <td>{{ announce.bedroomNumber }}</td>
            </tr>
            <tr>
                <th>PriceByNight</th>
                <td>{{ announce.priceByNight }}</td>
            </tr>
            <tr>
                <th>Disponibility</th>
                <td>{{ announce.disponibility ? announce.disponibility|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ announce.address }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_announce_index') }}">back to list</a>

    <a href="{{ path('app_announce_edit', {'id': announce.id}) }}">edit</a>

    {{ include('announce/_delete_form.html.twig') }}
{% endblock %}
