{% extends 'base.html.twig' %}

{% block title %}AccomodationType index{% endblock %}

{% block body %}
    <h1>AccomodationType index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for accomodation_type in accomodation_types %}
            <tr>
                <td>{{ accomodation_type.id }}</td>
                <td>{{ accomodation_type.name }}</td>
                <td>
                    <a href="{{ path('app_accomodation_type_show', {'id': accomodation_type.id}) }}">show</a>
                    <a href="{{ path('app_accomodation_type_edit', {'id': accomodation_type.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_accomodation_type_new') }}">Create new</a>
{% endblock %}
